### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule siec-dystrybucji siec-dystrybucji.html
RewriteRule kontakt kontakt.html
RewriteRule home index.html